In [1]:
from IPython.display import display, Image

import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
train = pd.read_csv('~/aiffel/bike_regression/train.csv')
print(train.shape)
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [ ]:
train['year'] = pd.to_datetime(train['datetime']).dt.year
train['month'] = pd.to_datetime(train['datetime']).dt.month
train['day'] = pd.to_datetime(train['datetime']).dt.day
train['hour'] = pd.to_datetime(train['datetime']).dt.hour
train['minute'] = pd.to_datetime(train['datetime']).dt.minute
train['second'] = pd.to_datetime(train['datetime']).dt.second
train.head()

In [ ]:
#train = sns.load_dataset('train')

ax = sns.countplot(x ="year", hue="workingday", data=train )

In [ ]:
ax2 = sns.countplot(x = "month", hue="weather", data=train)

In [ ]:
ax3 = sns.countplot(x="day", hue="weather", data=train)

In [ ]:
ax4 =  sns.countplot(x="hour", hue="weather", data=train)

In [3]:
X = train[['holiday', 'workingday', 'weather', 'temp', 'atemp', 'humidity', 'casual', 'registered']].values
y = train['count'].values

In [4]:
#train_set 과 test_set으로 분리하기
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(8708, 8) (8708,)
(2178, 8) (2178,)

In [5]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [6]:
model.fit(X_train, y_train)

LinearRegression()

In [7]:
predictions = model.predict(X_test)
predictions

array([127.,  13., 163., ..., 509.,   5., 239.])

In [8]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, predictions)
mse

1.8847553649457023e-26

In [ ]:

plt.scatter(X_test[:,5], y_test, c='#7f7f7f')
plt.scatter(X_test[:,5], predictions)
plt.show()

In [ ]:

plt.scatter(X_test[:,3], y_test)
plt.scatter(X_test[:,3], predictions)
plt.show()